<div>
    <h1 class="text-center">Login</h1>
    <div class="box-login">
         <form action="/petshop/login" class="p-2" method="post">
            <div class="row mb-2">
                <label class="col-sm-2 col-form-label">Login</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="login" placeholder="Informe o Login">
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-sm-2 col-form-label">Senha</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="senha" placeholder="Informe a Senha">
                </div>
            </div>
            <div class="box-login-btn d-flex justify-content-center align-items-center flex-column">
                <div style="width: 100%;" class="d-flex justify-content-end">
                    <a id="recuperar-senha" class="fst-italic fs-6 text-muted ms" href="#">Esqueci a senha</a>
                </div>                

                <input class="btn btn-success" type="submit" value="Login">                
            </div>
            
            
                     
        </form>
    </div>
</div>