<div class = "div_form">
<h1 class="text-center">Cadastrar Pet</h1>

<form action="/pets/add" method="post">
  <div class="fc">

    <input type="text" name="nome" placeholder="Nome do Animal">
    <input type="text" name="especie" placeholder="Especie do Animal">
    <input type="text" name="raça" placeholder="Raça do Animal">
    <input type="text" name="nascimento" placeholder="Data de Nascimento">
    <input type="text" name="cor" placeholder="Cor do Pet">
    <input type="text" name="peso" placeholder="Peso do Pet"></div>
    
   <br><input type="submit" value="Cadastrar" />
  </div>
</form> <br>

</div>