<div class="d-flex justify-content-center">
    <h1 class="center">Cadastrar Funcionario</h1>
</div>
<div class="boxCarro">
    <form action="/funcionarios/add" class="p-2" method="post">
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="nome" placeholder="Informe o Nome">
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Sobrenome</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="sobrenome" placeholder="Informe o Sobrenome">
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Data de Nascimento</label>
            <div class="col-sm-8">
                <input type="date" class="form-control" name="dataNascimento">
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">CPF</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="cpf" placeholder="Informe o CPF">
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Função</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="funcao" placeholder="Informe o Função">
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="login" placeholder="Defina o Login">
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Senha</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="senha" placeholder="Defina a Senha">
            </div>
        </div>
        <input type="submit" value="Cadastrar">
    </form>
</div>