<h2>{{message}}</h2>
<div class="central">
  <div class="text-center">
    <div class="mb-3">
      <form action="/cliente/add" method="get">
        <button type="submit" class="btn btn-primary">Cadastrar um novo Cliente</button>
      </form>
    </div>
    <div class="">
      <form action="/cliente/allCliente" method="get">
        <button type="submit" class="btn btn-primary">Todos os Clientes</button>
      </form>
    </div>

  </div>

  
</div>

